# A package to develop text-based games.
# Doc: https://adventurelib.readthedocs.io/
adventurelib

# A package to develop GUI games.
# Doc: https://lawsie.github.io/guizero/
guizero[images]

# A package to convert numbers to words and much more.
# Doc: https://inflect.readthedocs.io/
inflect

# A package to develop GUI games (wrapper for PyGame).
# Doc: https://pygame-zero.readthedocs.io/
pgzero

# A package to render text in ASCII art fonts.
# Doc: https://pypi.org/project/pyfiglet/
# Doc: https://www.tutorialspoint.com/ascii-art-using-python-pyfiglet-module
pyfiglet

# A package to write unit tests.
# Doc: https://docs.pytest.org/
pytest

# A package to convert text to speech.
# Doc: https://pyttsx3.readthedocs.io/
pyttsx3
