h1 {
    font-family: cursive;
    color: white;
    background-color: darkgreen;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
}

img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0 1em 2em 0;
}